@(loginForm:Form[LoginData])(implicit request:MessagesRequestHeader, flash:Flash)

@main("Login"){
    <h1>Login Using GET HTTP request</h1><br>
    <form method="get" action="validateLogin1Get">
        Username <input type="text" name="username" /><br/>
        Password <input type="password" name="password" /><br/>
        <input type="submit" value="Submit"/>
    </form>

<h2>Login Using POST HTTP request</h2><br>
<form method="post" action="@routes.TaskList1Controller.validateLogin1Post">
    @helper.CSRF.formField
    Username <input type="text" name="username" id="login-un"/><br/>
    Password <input type="password" name="password" id="login-pwd"/><br/>
    <input type="submit" value="Submit"/>
</form>

<h1>Login Using POST HTTP request but with PLAY FORMS</h1><br>
@helper.form(action=routes.TaskList1Controller.validateLogin1Form){
@helper.CSRF.formField
@helper.inputText(loginForm("Username"))
@helper.inputText(loginForm("Password"))
<div class=""form-actions>
    <button type="submit">Login</button>
</div>
}

<h1>Create User Using POST HTTP request</h1><br>
<form method="post" action="@routes.TaskList1Controller.create1UserPost">
    @helper.CSRF.formField
    Username <input type="text" name="username" id="create-un"/><br/>
    Password <input type="password" name="password" id="create-pwd"/><br/>
    <input type="submit" value="Submit"/>
</form>
}