@()(implicit request:RequestHeader, flash:Flash)

@main("Task list 3 JSON"){
<div id="contents">JSON</div>

<input id="csrfToken" type="hidden" value="@helper.CSRF.getToken.value"/>
<input id="validatePath" type="hidden" value="@routes.TaskList2Controller.validate"/>

<div id="screen3div1">
    <h2>Login User</h2>
    Username: <input type="text" id="login-un"/>
    <br>
    Password:<input type="password" id="login-pwd"/>
    <br>
    <button onclick="login()" id="login-btn">Login</button>

    <h2>Create User</h2>
    Username: <input type="text" id="create-un"/>
    <br>
    Password:<input type="password" id="create-pwd"/>
    <br>
    <button onclick="createUser()" id="create-btn">Create</button>
</div>

<div id="screen3div2" hidden>

    <h2>Tasklist 3</h2>

    <ul>

    </ul>


    <br>
    Add task <input type="text" id="newtask"/><br>
    <button onclick="addTask()"> Add </button>

    <div>
        <a href="@routes.TaskList1Controller.logout">Logout</a>
    </div>
</div>

<script src="@routes.Assets.versioned("javascripts/taskList3.js")"></script>
}